body{
  background: #E50914;
  font-size: large;
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1{
  font-family: 'Bebas Neue', cursive;
  text-shadow: -1px 0 black, 0 6px black, 1px 0 black, 0 -1px black;
  letter-spacing: .07em;
  font-size: xxx-large;
}


form{
  display: flex;
  height: 7vh;
}


input[type=text]{
  border-radius: 4px;
  border : 2px black;
  width: 100%;
  padding: 0 1rem;
}

button{
  background: black;
  padding: 0 1rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}


form .fa-search {
  color: white;
}


tbody>tr:first-child>td{
    background: #E50914;
    color: white;
}


table {
    color : black;
    margin: 0 auto;
    font-family: Optima, sans-serif;
    border-spacing: 0;
}


#legend{
    color:white;
    border-spacing:2px;
}


#legend tr {
    margin: 10px 0;
    display: block;
}


#legend tr > td:last-child {
    text-align: left;
    padding: 0 2rem;
}


tbody p{
    background-color:#E50914;
    color:white;
    font-weight: normal;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);
}


td {
    width: 30px;
}

thead > tr {
    color: white;
    background: black;
}


thead>tr:first-child{
    background: #E50914;
}


thead>tr>td:first-child{
    background-color: #E50914;
}


tr > td:first-child {
    color: white;
    background: black;
}


.no-grade {
    background: none;
}


.grade-0-5 {
    background: #943126;
}


.grade-0-5 {
    background: #b03a2e;
}


.grade-1 {
    background: #cb4335;
}


.grade-1-5 {
    background: #d35400;
}


.grade-2 {
    background: #ca6f1e;
}


.grade-2-5 {
    background: #dc7633;
}


.grade-3 {
    background: #e67e22;
}


.grade-3-5 {
    background: #eb984e;
}


.grade-4 {
    background: #e59866;
}


.grade-4-5 {
    background: #f0b27a;
}


.grade-5 {
    background: #A2D9CE;
}


.grade-5-5 {
    background: #76D7C4;
}


.grade-6 {
    background: #73C6B6;
}


.grade-6-5 {
    background: #48C9B0;
}


.grade-7 {
    background: #45B39D;
}


.grade-7-5 {
    background: #1ABC9C;
}


.grade-8 {
    background: #17A589;
}


.grade-8-5 {
    background: #148F77;
}


.grade-9 {
    background: #117864;
}


.grade-9-5 {
    background: #0E6251;
}
