body {
    text-align: center;
}

td {
    width: 30px;
    text-align: center;
}

table {
    margin: 0 auto;
}

thead > tr {
    color: white;
    background: black;
}

tr > td:first-child {
    color: white;
    background: black;
}

.grade-7 {
    background: orange;
}

.grade-8 {
    background: mediumseagreen;
}

h1 {
    text-align: center;
    font-family: Optima, sans-serif;
}