body {
    text-align: center;
}

td {
    width: 30px;
    text-align: center;
}

table {
    margin: 0 auto;
}

thead > tr {
    color: white;
    background: black;
}

tr > td:first-child {
    color: white;
    background: black;
}


.no-grade {
    background: white;
}


.grade-6 {
    background: #EB984E;
}


.grade-7 {
    background: #F4D03F;
}

.grade-8 {
    background: mediumseagreen;
}


.grade-9 {
    background: #1D8348;
}


h1 {
    text-align: center;
    font-family: Optima, sans-serif;
}