<!doctype html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0ecf5c829c.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_style.css') }}">
<body>
<main>
    <i class="fas fa-couch fa-5x"></i>
    <h1>Is my series worth watching?</h1>
    <form action="/results" method="POST">
        <input type="text" name="Title" placeholder="What do you want to watch?"/>
        <button><i class="fa fa-search"></i></button>
    </form>
</main>
</body>
</html>