<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_style.css') }}">
    <title>Series' worth checking</title>
</head>
<body>
<main>
    <h1>Is my series worth watching?</h1>
    <table cellspacing="0">
        <thead>
        <tr>
            {% for grade in table[0] %}
                <td>{{ grade }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for episode_number in table %}
            {% if not loop.first %}
                <tr>
                    {% for grade in episode_number %}
                        {% if grade|float >= 3.5 and grade|float <= 4.0 %}
                            <td class="grade-3-5">{{ grade }}</td>
                        {% elif grade|float >= 4.0 and grade|float <= 4.5 %}
                            <td class="grade-4">{{ grade }}</td>
                        {% elif grade|float >= 4.5 and grade|float <= 5.0 %}
                            <td class="grade-4-5">{{ grade }}</td>
                        {% elif grade|float >= 5.0 and grade|float <= 5.5 %}
                            <td class="grade-5">{{ grade }}</td>
                        {% elif grade|float >= 5.5 and grade|float <= 6.0 %}
                            <td class="grade-5-5">{{ grade }}</td>
                        {% elif grade|float >= 6.0 and grade|float <= 6.5 %}
                            <td class="grade-6">{{ grade }}</td>
                        {% elif grade|float >= 6.5 and grade|float <= 7.0 %}
                            <td class="grade-6-5">{{ grade }}</td>
                        {% elif grade|float >= 7.0 and grade|float <= 7.5 %}
                            <td class="grade-7">{{ grade }}</td>
                        {% elif grade|float >= 7.5 and grade|float <= 8.0 %}
                            <td class="grade-7-5">{{ grade }}</td>
                        {% elif grade|float >= 8.0 and grade|float <= 8.5 %}
                            <td class="grade-8">{{ grade }}</td>
                        {% elif grade|float >= 8.5 and grade|float <= 9.0 %}
                            <td class="grade-8-5">{{ grade }}</td>
                        {% elif grade|float >= 9.0 and grade|float <= 9.5 %}
                            <td class="grade-9">{{ grade }}</td>
                        {% elif grade|float >= 9.5 and grade|float <= 10.0 %}
                            <td class="grade-9-5">{{ grade }}</td>
                        {% elif grade=="" %}
                            <td class="no-grade">{{ grade }}</td>
                        {% else %}
                            <td>{{ grade }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>